<div>
    {{#each this}}
    <div class="card">
        <div class="card-body">
            <p>{{commentText}}</p>
            <div class="display-flex justify-flex-end">
                <p>{{user.username}} , {{formatDate dateCreated}}</p>
            </div>
        </div>

    </div>
    {{/each}}
</div>
