{{!-- Code referenced from Module 14 - Mini Project --}}

{{!-- Single Post --}}
<div>{{postTitle}}</div>
<div>Posted by {{user.username}}  on {{formatDate dateCreated}}</div>
<p>{{postContent}}</p>

{{!-- Form to add new comments --}}
{{#if loggedIn}}
<div>
    <form id="add-comment-form">
        <label>Comment</label>
        <textarea name="comment-text"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
{{/if}}

{{!-- Existing Comments --}} 
<div>{{> comments comments}}</div>

{{#if loggedIn}}
<script src="/js/addComment.js"></script>
{{/if}}
